/* Styles specific to this workshop
------------------------------------*/
.slide.intro {
  background: linear-gradient(rgba($black, 0.7),
              rgba($black, 0.7)), 
              url(../img/banner-home2.jpg) no-repeat;
  background-size: cover;
}
.language {
  blockquote {
    font-size: 36px;
    padding: 10px 30px;
    line-height: 1.8;
  }
  em {
    color: $llc-pink;
  }
}
.who-uses {
  img {
    max-height: 125px;
    margin: 25px;
  }
}
.irb {
  table th,
  table td {
    width: 50%;
  }
}
.slide {
  &.ruby-background {
    background: url(../img/workshop/rubybg.jpg) no-repeat;
    background-size: cover;

    h1 {
      color: #fff;
      line-height: 1.25;
    }
    .source {
      position: absolute;
      background: rgba(255, 255, 255, .3);
      bottom: 20px;
      right: 20px;
      padding: 2px 4px;
      border-radius: 2px;
    }
  }
}